Package: me.tejasp.statusbarcustomization
Name: statusbarcustomization
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tejas Prakash
Author: Tejas Prakash
Section: Tweaks
