<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Active Status Bar Mods</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.tejasp.statusbarcustomizationprefs</string>
			<key>key</key>
			<string>statusBarColor</string>
			<key>label</key>
			<string>Change the status bar text color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Status bar text color</string>
			<key>defaults</key>
			<string>me.tejasp.statusbarcustomizationprefs</string>
			<key>key</key>
			<string>statusBarColorText</string>
			<key>label</key>
			<string>idk</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>me.tejasp.statusbarcustomizationprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>whatColor</string>
			<key>label</key>
			<string>Status Bar Color</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
			</array>
			<key>validValues</key>
			<array>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>StatusBarCustomization</string>
</dict>
</plist>
